.idea/
**/data/
.DS_Store
out/
.idea_modules/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
.env
.ruff_cache/
pyrightconfig.json
attentions/additive-attention/weights
